/.env
*.pyc
*~
.*.sw*
.DS_Store
/build
/data.db
/dump.rdb
/log
/media
/static
/tmp
/vendor
/venv
\#*#
stylesheets
node_modules
bower_components
app/static/app/build
app/static/app/dist
/.bundle
/.idea
/assets/build
/assets/dist
/*.sql
/.vscode
.tox
