.dashboard {
  --nav-width: 15rem;
}

.dashboard-nav {
  position: fixed;
  left: 0;
  top: 2rem;

  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  width: var(--nav-width);

  --box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.dashboard-logo {
  margin-bottom: 8rem;
  display: flex;
  justify-content: flex-end;

  img {
    max-width: 60%;
  }
}

.dashboard-nav__link {
  background: var(--petrol-lighter);
  color: var(--petrol-darker);
  padding: 1rem 2rem 1rem 3rem;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: var(--box-shadow);

  &.active,
  &:hover {
    background: var(--petrol-light);
    color: var(--black);
  }
}

.dashboard-nav__issue {
  background: var(--yellow-lighter);
  padding: 1rem;
  width: 12rem;
  margin-top: 2rem;
  box-shadow: var(--box-shadow);

  strong {
    display: block;
  }
}

.dashboard-logout {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.dashboard-content {
  margin: 2rem 2rem 0 2rem;
  max-width: 50rem;

  .dashboard-nav + & {
    margin-left: calc(var(--nav-width) + 2rem);
  }
}

.message {
  border: 1px solid;
  padding: 1rem;

  &.error {
    background: #f88;
  }

  &.warning {
    background: #ff8;
  }

  &.success {
    background: #8f8;
  }
}

.prose-editor {
  .ProseMirror {
    border-radius: 0.25rem;
    border: 1px solid var(--gray-light);
    background: var(--white);
    min-width: 0;
    padding: 3px 7px;
    color: var(--fg);
    width: 100%;
  }
}

.button--danger {
  color: var(--white);
  background: var(--warning);
  border-color: var(--warning);
}
