{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ catalog }} - {{ project }} - {{ block.super }}{% endblock %}

{% block content %}

<div class="flow">

<h1><a href="{{ project.get_absolute_url }}">{{ project }}</a></h1>

<h2>{{ catalog }}</h2>

<form method="get" class="form form--filter">
  {{ filter_form }}
  <button class="button" type="submit">{% translate 'Apply' %}</button>
  <a href="." class="button">{% translate 'Reset' %}</a>
</form>

{% if entries %}
<h3>{% translate 'Entries' %} <small>{{ start }} - {{ end }} / {{ total }}</small></h3>
<form method="post" class="form flow">
  {% csrf_token %}
  <table class="table table--fixed">
    <colgroup>
      <col width="50%">
      <col width="50%">
      <col width="80">
    </colgroup>
    <thead>
      <tr>
        <th>{% translate 'Original' %}</th>
        <th>{% translate 'Translation' %}</th>
        <th>{% translate 'Fuzzy' %}</th>
      </tr>
    </thead>
    <tbody>
    {% for entry in form.entry_rows %}
    <tr class="entry">
      <td class="entry__msgid">
        {{ entry.msgid }} {# Hidden field #}

        {% if entry.entry.msgctxt %}
          <small>{% translate 'Context' %}: {{ entry.entry.msgctxt }}</small><br>
        {% endif %}

        {% if entry.entry.comment or entry.entry.tcomment %}
          <small>{% translate 'Comment' %}: {{ entry.entry.comment }} {{ entry.entry.tcomment }}</small><br>
        {% endif %}

        <small>{% translate 'Occurrences' %}: {% for path, lineno in entry.entry.occurrences %}{{ path }}{% if lineno %}:{{ lineno }}{% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}</small><br>

        {% if entry.entry.msgid_plural %}
          {{ entry.entry.msgid }}<br>
          {{ entry.entry.msgid_plural }}
        {% else %}
          {{ entry.entry.msgid }}
        {% endif %}
      </td>
      <td class="flow">
        {% for field in entry.msgstr %}
          {{ field.as_field_group }}
        {% endfor %}
      </td>
      <td>{{ entry.fuzzy }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  <div class="buttons">
    <button class="button" type="submit">{% translate 'Save' %}</button>
    {% if previous_url %}<a href="{{ previous_url }}" class="button">{% translate 'Previous page' %}</a>{% endif %}
    {% if next_url %}<a href="{{ next_url }}" class="button">{% translate 'Next page' %}</a>{% endif %}
  </div>
</form>

{% else %}
<p>Keine Einträge.</p>
{% endif %}

</div>
{% endblock %}
