{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ catalog }} - {{ project }} - {{ block.super }}{% endblock %}

{% block content %}

<h1><a href="{{ project.get_absolute_url }}">{{ project }}</a></h1>

<h2>{{ catalog }}</h2>

<p>Fortschritt: {{ po.percent_translated }}%</p>

<form method="get" class="form">
  {{ filter_form|adapt_rendering }}
  <button class="button" type="submit">Filtern</button>
  <a href="." class="button">Reset</a>
</form>

{% if entries %}
<form method="post">
  {% csrf_token %}
  <div class="entries">
    {{ form|adapt_rendering }}
  </div>
  <button class="button" type="submit">Speichern und weiter</button>
</form>

<div class="buttons">
<a href="{{ previous_url }}" class="button">Zurück</a>
<a href="{{ next_url }}" class="button">Weiter</a>
</div>

{% else %}
  Keine Einträge.
{% endif %}

{% endblock %}
