{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ catalog }} - {{ project }} - {{ block.super }}{% endblock %}

{% block content %}

<h1><a href="{{ project.get_absolute_url }}">{{ project }}</a></h1>

<h2>{{ catalog }}</h2>

<p>Fortschritt: {{ po.percent_translated }}%</p>

<nav>
  <a href=".">Alle</a>
  <a href="?flags=fuzzy">Fuzzy</a>
  <a href="?flags=untranslated">Untranslated</a>
</nav>

<form method="post">
  {% csrf_token %}
  <div class="entries">
    {{ form|adapt_rendering }}
  </div>
  <button class="button" type="submit">Speichern und weiter</button>
</form>

{% endblock %}
