{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ project }} - {{ block.super }}{% endblock %}

{% block content %}

<h1>{{ project }}</h1>

{% include 'includes/messages.html' %}

<h2>{% translate 'catalogs'|capfirst %}</h2>
<ul>
  {% for catalog in project.catalogs.all %}
  <li>
    <a href="{{ catalog.get_absolute_url }}">{{ catalog }}</a>
    <small>
      {% blocktranslate with timesince=project.pretty_timesince trimmed %}Updated {{ timesince }} ago.{% endblocktranslate %}
    </small>
  </li>
  {% endfor %}
</ul>

<h2>{% translate 'Export' %}</h2>
<p>
  <a href="{% url 'projects:messages_csv' slug=project.slug %}">{% translate 'Export messages as CSV' %}</a>
</p>

<h2>{% translate 'users'|capfirst %}</h2>
<p>
{% for user in project.all_users %}<a href="mailto:{{ user.email }}">{{ user.get_full_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
</p>

<h2>{% translate 'CLI configuration' %}</h2>
<details>
  <summary><code>~/.config/traduire.toml</code></summary>
  <pre>{{ toml }}</pre>
</details>

<h2>{% translate 'Latest activity' %}</h2>
{% for a in activity %}{{ a.as_html }}{% empty %}<p>{% translate 'None' %}</p>{% endfor %}
{% endblock content %}
