{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ project }} - {{ block.super }}{% endblock %}

{% block content %}

<h1>{{ project }}</h1>

<h2>{% translate 'catalogs'|capfirst %}</h2>
<ul>
  {% for catalog in project.catalogs.all %}
  <li><a href="{{ catalog.get_absolute_url }}">{{ catalog }}</a></li>
  {% endfor %}
</ul>

<h2>{% translate 'CLI configuration' %}</h2>
<details>
  <summary><code>~/.config/traduire.toml</code></summary>
  <pre>
[[project]]
name = "{{ project.name }}"
token = "{{ project.token }}"
url = "https://{{ request.get_host }}/"
path = "" # Add the absolute path of your local project!
</pre>
</details>
{% endblock %}
