{% extends "base.html" %}

{% load i18n %}

{% block title %}{% translate 'projects'|capfirst %} - {{ block.super }}{% endblock %}

{% block content %}

<h1>{% blocktranslate with user=request.user.get_full_name %}Hello, {{ user }}{% endblocktranslate %}</h1>

{% include 'includes/messages.html' %}

<h2>{% translate 'Your projects' %}</h2>
{% if projects %}
<ul>
  {% for project in projects %}
  <li>
    <a href="{{ project.get_absolute_url }}">{{ project.name }}</a>
    <small>
      {% blocktranslate with timesince=project.pretty_timesince trimmed %}Updated {{ timesince }} ago.{% endblocktranslate %}
    </small>
  </li>
  {% endfor %}
</ul>
<a download="traduire.toml" href="{% url 'projects:traduire_toml' %}">{% translate 'Download the configuration file' %}</a>
{% else %}
<p>{% translate 'You do not have access to any projects. Sorry.' %}</p>
{% endif %}

<h2>{% translate 'Account' %}</h2>
<form class="buttons">
  {% csrf_token %}
  <button class="button" type="submit" formmethod="post"  formaction="{% url 'logout' %}">{% translate 'Log out' %}</button>
  {% if request.user.has_usable_password %}
    <a class="button" href="{% url 'password_change' %}">{% translate 'Change password' %}</a>
  {% endif %}
</form>

{% endblock %}
