{% extends "base.html" %}

{% load i18n %}

{% block title %}{% translate 'projects'|capfirst %} - {{ block.super }}{% endblock %}

{% block content %}

<h1>{% blocktranslate with user=request.user %}Hello, {{ user }}{% endblocktranslate %}</h1>

{% include 'includes/messages.html' %}

<h2>{% translate 'Your projects' %}</h2>
{% if projects %}
<ul>
  {% for project in projects %}
  <li><a href="{{ project.get_absolute_url }}">{{ project.name }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>{% translate 'You do not have access to any projects. Sorry.' %}</p>
{% endif %}

<h2>{% translate 'Account' %}</h2>
<form class="buttons">
  {% csrf_token %}
  <button class="button" type="submit" formmethod="post"  formaction="{% url 'logout' %}">{% translate 'Log out' %}</button>
  <a class="button" href="{% url 'password_change' %}">{% translate 'Change password' %}</a>
</form>

{% endblock %}
