{% extends "base.html" %}
{% load i18n static %}

{% block body %}
<main class="main main--login">
  <div class="container">
    <div class="login">
      {% block content %}
        <form method="post" class="form form--login flow">
          <h1 class="login__title">Traduire</h1>
          {% include 'includes/messages.html' %}

          {% csrf_token %}
          {{ form|adapt_rendering }}

          <div class="buttons">
            <button class="button" type="submit">{% translate "Login" %}</button>

            <a href="{% url 'register' %}">{% translate "Register" %}</a>
            <a href="{% url 'password_reset' %}">{% translate "Reset password" %}</a>
            <a href="{% url 'google-sso' %}?next={{ request.GET.next|default:"/" }}{% if request.GET.error %}&amp;select=1{% endif %}">{% translate 'Login with Google' %}</a>

          </div>
        </form>
      {% endblock content %}
    </div>
  </div>
</main>
{% endblock body %}

{% block footer %}{% endblock %}
