{% extends "registration/login.html" %}

{% load i18n %}

{% block content %}
  <form method="post" class="form form--login flow">
    <h1 class="login__title">Traduire</h1>
    <h2 class="login__subtitle">{% translate "Reset password" %}</h2>
    <p>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
    <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
  </form>
{% endblock %}
