{% extends "registration/login.html" %}

{% load i18n %}

{% block content %}
  <form method="post" class="form form--login flow">
    <h1 class="login__title">{% translate "Dashboard" %}</h1>
    <h2 class="login__subtitle">{% translate "Change password" %}</h2>
    {% csrf_token %}
    <p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>
    {{ form|adapt_rendering }}
    <button class="button" type="submit">{% translate "Submit" %}</button>
  </form>
{% endblock %}
