{% extends "base.html" %}
{% load i18n static %}

{% block body %}
<main class="main main--login">
  <div class="container">
    <div class="login">
      {% block content %}
        <form method="post" class="form form--login flow">
          <h1 class="login__title">Traduire</h1>
          {% include 'includes/messages.html' %}

          {% csrf_token %}
          {{ form|adapt_rendering }}

          <div class="buttons">
            <button class="button" type="submit">{% translate "Register" %}</button>

            <a href="{% url 'login' %}">{% translate "Login" %}</a>

          </div>
        </form>
      {% endblock content %}
    </div>
  </div>
</main>
{% endblock %}

{% block footer %}{% endblock footer %}
