@media (max-width: 639px) {
  #djDebug {
    display: none;
  }
}

body {
  color: var(--fg);
  background: var(--bg);

  font-family: system-ui;
}

.main {
  margin: 2rem 1rem;
}

.container {
  max-width: var(--layout-width);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: var(--primary);
}

button.link {
  color: var(--primary);
  text-decoration: underline;
}

summary {
  cursor: pointer;
}
