.buttons {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.25rem;
  flex-wrap: wrap;
  align-items: center;
}

button {
  all: unset;
  cursor: pointer;
}

.button {
  --flow-space: 1.5rem;
  display: inline-block;
  user-select: none;
  text-decoration: none;
  width: auto;
  text-align: center;
  padding: 7px 23px;
  border-radius: 1.5rem;
  white-space: nowrap;
  transition: color 200ms ease-in-out, background-color 200ms ease-in-out,
    border-color 200ms ease-in-out;

  color: var(--button-fg);
  background: var(--button-bg);
  border: 1px solid var(--button-border);

  &:hover,
  &:active {
    color: var(--button-hover-fg);
    background: var(--button-hover-bg);
    border-color: var(--button-hover-border);
  }
}
