input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="url"],
select,
textarea {
  display: inline-block;
  border-radius: 0.25rem;
  border: 1px solid var(--gray);
  background: var(--white);
  min-width: 0;
  padding: 3px 7px;
  color: var(--fg);
  width: 100%;

  label + & {
    margin-top: 0.5rem;
  }
}

fieldset.field {
  border: none;
  padding: 0;
}

.field:has(> input[type="checkbox"]) {
  input {
    order: -1;
  }
}

.field.has-error {
  > label {
    color: var(--error-fg);
    font-style: italic;
  }

  input,
  select {
    border-color: var(--error-fg);
  }
}

ul.errorlist {
  margin-top: 1.5rem;
  color: var(--error-fg);
}

.helptext {
  font-size: 80%;
}

.form--filter {
  display: flex;
  gap: 0.5rem;
  flex-flow: row wrap;
  align-items: stretch;

  .field {
    display: flex;
    align-items: center;
  }
}
