.table {
  width: 100%;

  td,
  th {
    text-align: left;
    vertical-align: top;
    padding: 4px;
  }

  tbody tr:nth-child(2n+1) {
    background: #eee;
  }

  pre {
    margin: 0;
  }

  .field {
    width: 100%;
  }
}
