:root {
  --primary: #007cb0;
  --secondary: #fcfe7f;
  --black: #101010;
  --white: #fdfdfd;
  --darkgray: #777;
  --gray: #aaa;
  --lightgray: #eee;

  --fg: var(--black);
  --bg: var(--white);
  --fg-hover: var(--primary);

  --button-fg: var(--white);
  --button-bg: var(--primary);
  --button-border: var(--primary);
  --button-hover-fg: var(--black);
  --button-hover-bg: var(--white);
  --button-hover-border: var(--black);

  --error-fg: #f00;
  --warning: tomato;

  --box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  --layout-width: 78rem;
}
