{% load i18n menus %}
<div class="pagination">
  {% if object_list.has_previous %}
  <a class="pagination__arrow" href="{% querystring page=object_list.previous_page_number %}"><svg class="icon icon--prev" aria-label="{% translate 'previous page' %}" role="img"><use href="#icon-prev" /></svg></a>
  {% endif %}

  {% for p, is_ellipsis in page_range %}
    {% if is_ellipsis %}<span class="pagination__ellipsis">{{ p }}</span>
    {% elif p == object_list.number %}<span class="button button--toggle active">{{ p }}</span>
    {% else %}<a class="button button--toggle" href="{% querystring page=p %}">{{ p }}</a>
    {% endif %}
  {% endfor %}

  {% if object_list.has_next %}
  <a class="pagination__arrow" href="{% querystring page=object_list.next_page_number %}"><svg class="icon icon--next" aria-label="{% translate 'next page' %}" role="img"><use href="#icon-next" /></svg></a>
  {% endif %}
</div>
