{% load i18n static webpack_assets %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" type="image/png" href="/favicon.png">
  <meta name="theme-color" content="#282830">
  {% if not TESTING %}{% webpack_assets 'main' %}{% endif %}

  <title>{% block title %}Traduire{% endblock %}</title>
</head>
<body class="{% block bodyclass %}{% endblock %}">
  {% block header %}
    <header class="header">
      <div class="container">
        <a href="/">Traduire</a>
      </div>
    </header>
  {% endblock header %}

  {% block body %}
  <main class="main">
    <div class="container flow">
      {% block content %}{% endblock content %}
    </div>
  </main>
  {% endblock body %}
</body>
</html>
